:root {
  --primary-color: #ff6600;
  --text-color: #000000;
  --inactive-color: #ffa76c;
  --page-background-color: #f8f8f8;
  --text-gray: #797979;
  --text-dark-gray: #535353;
  --border-dark-purple: rgb(32, 0, 80);
}
